@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow:    hidden;
  width:       100%;
  height:      100%;
  font-size:   12px;

  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin:  0;
  padding: 0;
}

#root {
  padding: 10px;
}

.cp {
  &-title {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #BDBDBD;
  }

  &-wrap {
    padding: 5px;
  }
}
