@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow:    auto;
  width:       100%;
  height:      100%;
  font-size:   12px;

  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin:  0;
  padding: 0;
}

input,
button {
  &:focus {
    outline: 0;
  }
}

#root {
  padding: 10px;
}

.cp {
  &-title {
    // margin: 5px 0;
    padding: 5px 0;
  }

  &-wrap {
    // margin: 5px;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    background-color: #f5f5f5;
  }

  &-actions {
    // margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #BDBDBD;
  }
}

.act {
  margin: 3px 0;
  padding: 3px 0;

  &-title {
    // display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 3px;
    // border-bottom: 1px solid #BDBDBD;
  }

  &-wrap {
    padding-left: 5px;

    span:first-child {
      font-weight: 600;
      margin-right: 5px;
    }

    span:last-child {
      font-weight: 300;
    }
  }

  label {
    font-weight: 600;
  }

  input {
    margin: 0 5px;
    padding: 3px;
  }
}
